
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
       <p> <h1>Account Managment   </h1> </p> 
        <p> <h3>Connection of login is Completed </h3> </p> 
        <p> <h4>Dashboard is Comming  </h4> </p> 
    </div>
</body>
</html>
